@import 'tailwindcss';

:root {
  --background: #0E0F0E;
  --foreground: #F6F6F4;
}

@theme {
  --color-white-n: #E7E7E7;
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-montserrat);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .icon {
    display: inline-block;
    vertical-align: -.125em;
  }
}
