@import 'tailwindcss';

:root {
  --background: #0E0F0E;
  --foreground: #F6F6F4;
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-montserrat);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
